.form-container {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  color: white;
  max-width: 50vw;
  margin: 0 auto;
  display: none;
  border-radius: 10%;
  position: absolute;
  top: 10%;
  left: 27%;
  z-index: 200;
  transition: 2s;
}
#heading-contact, input {
  background-color: rgb(0, 0, 0);
}
#heading-contact{
  font-size: 2.3rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 3rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: transparent;
  margin-bottom: 40px;
  border-top: none;
  border-right: none;
  line-height: 2rem;
  padding: 10px;
  color: rgb(255, 255, 255);
  width: 80%;
}


input[type="checkbox"] {
  margin-right: 5px;
}

.button {
  background-color: #108700; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #414141;
}
.close-btn {
  background-color: rgb(107, 7, 7);
  border: 1px solid white;
  border-radius: 10%;
  position: relative;
  left: 80%;
}
.close-btn :hover {
  background-color: rgb(255, 31, 31);
  color: black;

}