.footer {
    background-color: black;
    color: rgb(138, 138, 138);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;  
    position: relative;
    top: 100px;

}
  
  .footer a {
    color: rgb(107, 107, 107);
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  .footer a:hover {
   color: white;
  }
  
  .contact , .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem
  }